/* Estilos para Mobile */
@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 10px;
    }

    .titulo {
      margin-bottom: 10px;
      text-align: center;
      z-index: 1;
    }

    .navbar-collapse {
      background-color: $header-bg-color;
      width: 100%;
      z-index: 0;
    }

    .navbar-nav {
      flex-direction: column;
      align-items: center;

      .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .nav-link {
        padding: 10px 0;
      }
    }
  }

  .subtitulo {
    padding: 10px;
  }

  .contenedor,
  .productos {
    padding: 10px;
  }

  .productos {
    flex: 0 0 calc(100% - 20px);

    h3 {
      font-size: 1em;
    }
  }

  .info-adicional p {
    font-size: 1em;
  }

  .info-adicional button {
    padding: 8px 16px;
  }

  main .contenido {
    flex-direction: column;
    align-items: flex-start;

    .mapa img {
      margin-bottom: 20px;
    }

    .texto {
      margin-left: 0;
      text-align: left;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

/* Estilos para Desktop */
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 10px;
    }

    .titulo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;

      .nav-item {
        margin-right: 20px;
      }

      .nav-link {
        padding: 5px 0;
      }
    }
  }

  .subtitulo {
    padding: 10px;
  }

  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .video {
      margin-right: 20px;
    }

    .texto {
      max-width: 50%;
    }
  }

  .fila-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .productos {
    padding: 20px;

    h3 {
      font-size: 1.2em;
    }
  }

  .info-adicional p {
    font-size: 1.1em;
  }

  .info-adicional button {
    padding: 10px 20px;
  }
}