$bg-color: #f8f9fa;
$font-family: 'Poppins', sans-serif;
$header-bg-color: #343a40;
$header-text-color: white;
$accent-color: #f17014;
$body-bg-color: #f9f9f9;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$text-color: #495057;
$link-hover-bg: #f17014;
$link-hover-color: $header-bg-color;
$button-bg: #f17014;
$button-hover-bg: $header-bg-color;
$primary-color: #007bff;
$primary-hover-color: #0056b3;